*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}

.container1 
{
    
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-top: auto;
    margin-left: 660px;
    border-radius: 20px;
    box-shadow: 5x 8px 18px rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-image:url("../img/imagenlogobuena.jpg");
    background-size: 500px 500px;
}

.container1:hover
{
    transform: scale(1.2);
    box-shadow: 13px 15px 37px black;
 }


.textointro
{
   font-size: 3vw;
   text-align: center;
}

.description
{
    text-align: center;
    font-size:xx-large; 
    
}