
.tituloregistro{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 3vw;
    /* border-bottom: 4px solid #dc5923; */
}

.tabladatos{
    
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.tabladatos th{
    border: 1px solid #dddddd;
    background-color: #2379dc;
    text-align: center;
    font-size: 1.5vw;
    padding: 8px
  }
.tabladatos td{
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 1.25vw;
    padding: 8px;
  }
   .tabladatos tr:nth-child(even) {
    background-color: #dddddd;
  }

.formularioregistro{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    margin-top: 10px;
    justify-items: center;
    
    
    
}
.inputregistro{
    width: 54%;
    font-size: 2vw;
    padding: 15px;; 
    
    border-bottom: 2px solid #2379dc ; 
}

.formularioregistro label{
    
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    
}



/* .datosusuario{
    
    margin-top: 10px;
    justify-content: center;
    display: flex;
    
}
.inputregistro{
    font-size: 2vw;
    padding: 15px;; 
    justify-content: center;  
    border-bottom: 2px solid #dc5923 ; 
    
     */
/* } */
.botonsumbit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2379dc;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 30px;
}
.botonsumbit:hover {
    background-color: #2379dc;
}

.botonsumbit:active {
  background-color: #092b52;
  box-shadow: 0 5px rgb(168, 168, 168);
  transform: translateY(4px);
}
.botonregrsitro{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.logueate{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;    
}

footer{
    background-color: black;
    color: white;  
    width: 100%;
    text-align: center;
    height: 50px;   
    line-height: 50px;
    bottom: 0%;
}
